# Build outputs
bin/
obj/
out/

# .NET
*.user
*.suo
.vs/
*.userprefs

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Blazor WASM publish
wwwroot/_framework/

# SQLite DB
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
